@import 'tailwindcss';
@config '../tailwind.config.js';

html {
  @apply text-base;
}

body.light {
  background-color: #f6f6f6;
  color: #0f0f11;
}

body.dark {
  background-color: #222222;
  color: #fff;
}

/* Docs page story preview containers */
body.light .docs-story {
  background-color: #f6f6f6;
}

body.dark .docs-story {
  background-color: #222222;
}

/* Storybook's canvas background */
body.light .sb-show-main {
  background-color: #f6f6f6;
}

body.dark .sb-show-main {
  background-color: #222222;
}
